$white-colour: #ffffff;

$primary-colour: #3399CC;
$secondary-colour: #333366;
$tertiary-colour: #B1F4FF;
$accent-colour: #ff6633;

$font-h1: 70px;
$font-h2: 30px;

$social-icons: 40px;

$btn-radius: 5px;